@import "reset.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-card {
  max-width: 500px;
  margin: 0 auto;

  .field {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  .user-btn {
    display: block;
    margin: 0 auto;
  }
}

.err-mess {
  color: tomato;
  padding: 10px 8px;
  display: block;
  width: 100%;
  text-align: center;
}

