@import "reset.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-card {
  max-width: 500px;
  margin: 0 auto;

  .field {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }

  .submit-btn {
    display: block;
    margin: 0 auto;
  }
}

.err-mess {
  color: tomato;
  display: block;
  width: 100%;
  text-align: center;
  &.big-letters {
    font-size: 46px;
    margin: 40px 0;
  }
}
