<app-loading *ngIf="isLoading; else loaded"></app-loading>
<ng-template #loaded>
  <mat-grid-list
    *ngIf="entries.length > 0; else containsEntries"
    cols="3"
    [gutterSize]="['10px']"
  >
    <mat-grid-tile *ngFor="let entry of entries">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            {{ entry.title }} ({{ entry.usersId.username }})
          </mat-card-title>
          <mat-card-subtitle>
            {{ entry.tagsId.title }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="card-content">{{ entry.text }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            [color]="color"
            mat-button
            [routerLink]="['/entries/about/', entry._id]"
          >
            MORE
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #containsEntries>
    <h2 class="err-mess big-letters">No Entries</h2>
  </ng-template>
</ng-template>
