<mat-toolbar [color]="color">
  <span>Blog</span>
  <nav>
    <button *ngIf="isRegistred && user.privelages >= tagPrivelages" mat-button [routerLink]="['/tag/create']">Create Tag</button>
    <button mat-button [routerLink]="['/']">All Entries</button>
    <button *ngIf="isRegistred" mat-button [routerLink]="['/entry/create']">Add Entry</button>
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="before">
      <ng-template [ngIf]="!isRegistred" [ngIfElse]="loading">
        <button mat-menu-item [routerLink]="['/login']">
          <mat-icon>login</mat-icon>Sign in
        </button>
        <button mat-menu-item [routerLink]="['/register']">
          <mat-icon>account_circle</mat-icon>Sign up
        </button>
      </ng-template>
      <ng-template #loading>
        <button mat-menu-item [routerLink]="['/user/about', user._id]">{{ user.username }}</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </ng-template>
    </mat-menu>
  </nav>
</mat-toolbar>
