<mat-toolbar [color]="mainColor">
  <span>Blog</span>
  <nav>
    <button mat-button [routerLink]="['/']">All News</button>
    <button mat-button [routerLink]="['/create']">Add News</button>
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item><mat-icon>login</mat-icon>Sign in</button>
      <button mat-menu-item><mat-icon>account_circle</mat-icon>Sign up</button>
    </mat-menu>
  </nav>
</mat-toolbar>
